html {
    background: url("/assets/PlayMeInLogo.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;
}

#body-img {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("/assets/PlayMeInLogoBlur.jpg") no-repeat center center fixed;
    background-size: cover;
    transition: opacity .5s linear;
}

.container {
    position: absolute;
    top: 60%;
    left: 5%;
}

.song-form {
    margin-left: 40px;
}

#logo {
    position: relative;
}

#logo2 {
    position:absolute;
    top: 0;
    left:0;
    transition: opacity .5s linear;
}

.transparent {
    opacity: 0;
}