<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <select name="genre">
        <option value="genre" disabled>Genre</option>
        <option value="epicMinor">Cinematic Epic in Minor Key</option>
    </select>
    <select name="voice">
        <option selected disabled>Voice</option>
        <option value="bass">Bass</option>
        <option value="melody">Melody</option>
        <option value="drum">Drum</option>
        <option value="alt-drum">Alt-Drum</option>
        <option value="harmony">Harmony</option>
        <option value="alt-harmony">Alt-Harmony</option>
    </select>
    <input accept="audio/*" type="file" name="sample" />
    <button type="submit">Upload</button>
</form>
</body>
</html>